header {
    margin: 35px;
    font-size: 40px;
    font-family: Modern No. 20;
  }
body {
    font-size: 20px;
    text-align: center;
    font-family: Modern No. 20;
  }
img {
    max-width: 1350px;
    margin: .5px 0px 0px 0px;
  }
h1 {
   font-size: 35px;
   font-weight: normal;
  }
p, ul {
    text-align: center;
    font-size: 20px;
  }
#slogan {
    font-style: italic;
    font-family: Chaparral Pro Light;
  }








